@charset "UTF-8";
	@font-face {
    font-family: 'MICEMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEMyungjo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
   }
   	body {
   		font-family: 'MICEMyungjo';
   	}

	 #faqQuery {
      text-align: center;
       top: 3px;
        left:6px;
      font-size : 20px;
      border : none;
      border-bottom: 1px solid #000;
      padding : 13px 70px;
      font-family: 'MICEMyungjo';
      
   }
   
   #faqSearchBtn{
      
      cursor: pointer;
      border: none;
       outline: none;
       background: none;
       size : 50px;
   }
   
  
   .faqSearch {
   		text-align : center;
   		font-family: 'MICEMyungjo';
   }
   
    #faqUl{
      list-style-type: none;   
   } 
   .faqDetailBtn{
      cursor: pointer;
       border: none;
       outline: none;
       background: none;
       font-family: 'MICEMyungjo';
   }
   #faqUl {
      
      font-size: 25px;
      font-family: 'MICEMyungjo';
   }
   .listOne{
      border-bottom: 1px solid #e0e0e0;
      padding : 40px 40px 20px 40px;
   }
   .answer{
      padding: 30px 30px 30px 30px;
      background: #f9f9f9;
   }
   #faqAdd {
      box-sizing: border-box;
      display: inline-block; 
      padding: 10px;
      margin: 5px;
      border: 1px solid white;
      text-decoration: none; 
      color: gray;
      font-family: 'MICEMyungjo';
   }
   .noList {
      text-align: center;
      font-family: 'MICEMyungjo';
      
   }
   .question{
      margin-bottom: 20px;
      font-family: 'MICEMyungjo';
   }
   
   .faqA {
   		color : blue;
   		font-family: 'MICEMyungjo';
   }
   
   .faqListOne {
   		width : 850px;
   		margin : 0 auto;
   }
   
   .unlink, .link {
		display: inline-block;  /* 같은 줄에 둘 수 있고, width, height 등 크기 지정 속성을 지정할 수 있다. */
		padding: 10px;
		margin: 5px;
		border: 1px solid white;
		text-align: center;
		text-decoration: none;  /* 링크 밑줄 없애기 */
		color: gray;
	}
	.link:hover {
		border: 1px solid orange;
		color: limegreen;
	}
   
   #faqListSel{
   		text-align: right;
		background-color: #121319;
		border-color: #121319;
		color : #fff;
		border: 1px solid transparent;
		font-size : 18px;
		padding : 10px 18px;
		margin : 15px;
		font-family: 'MICEMyungjo';
   }
	
	#faqListSel:hover {
		cursor: pointer;
	}
	
	.faqDelBtn{
		color : red;
		background-color : #fff;
		padding : 5px;
		border : none;
		display: inline-block;
		font-family: 'MICEMyungjo';
	}
}