@charset "UTF-8";
	
	@font-face {
	    font-family: 'MICEMyungjo';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEMyungjo.woff2') format('woff2');
	    font-weight: normal;
	    font-style: normal;
	}
	
	body{
			margin: 0;
			font-family: 'Kaushan Script', cursive;
		}
		
	a{
		text-decoration: none;
		color: white;
		
	}	
		
	ul {
		 
		 list-style:none;
		 text-align: left;
	}
	
	li{
		
		float: left;
		margin-left: 10px;
		margin-top: 3px;
		
	
	}
	
	nav {
		  float: right;
		}
	
	
	.footer{
		background-color: #025949;
		height: 250px;
	
	}
	
	.end_title{
		font-size: 20px;
		width: 1200px;
		margin: 0 auto;
		color: white;
		font-family: 'MICEMyungjo';
		
	}
	
	.end_logo{
		
		font-family: 'Pacifico', cursive;
	
	}
	
	.info{
		
		display: block;
		font-family: 'MICEMyungjo';
	
	}
	
	.infoP{
		
		font-family: 'MICEMyungjo';
		font-size: 13px;
	
	}
