@charset "UTF-8";
	@font-face {
    font-family: 'MICEMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEMyungjo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
   }

	body {
	font-family: 'MICEMyungjo';
		
	}
	
	.blind {
		display: none;
	}
	
	
	.toQnaList{
		display: inline-block;
		color : #212529;
		font-weight: 600;
		border: 2px solid #212529;
		padding : 10px 20px;
		margin : 10px 0px;
		background-color: transparent;
		font-family: 'MICEMyungjo';
	}
	
	
	.qnaDetailOne{
		width : 850px;
		margin : 0 auto;
	
	}
	
	h1 {
		text-align : center;
		font-family: 'MICEMyungjo';
	}
	
	.qnaDtailA {
		color : #214DA6;
		font-family: 'MICEMyungjo';
	}
	
	.qnaDatailDate{ text-align: right; font-family: 'MICEMyungjo';}
	.qnaDetailHit { text-align: right; font-family: 'MICEMyungjo';}
	.qnaDeatilName{ font-size: 20px; text-align: right; font-family: 'MICEMyungjo';}
	.qnaDetailTitle{
		font-size: 35px;
		font-weight: 700;
		text-align: center;
		font-family: 'MICEMyungjo';
	}
	.qnaDetailContent{
		margin : 30px;
		margin-top :50px;
		text-align : center;
		font-family: 'MICEMyungjo';
		
	}
	
	#qnaReplyContent{
	  width: 820px;
	  height: 80px;
	  font-size: 15px;
	  border : 3px solid #aaa;
	  border-radius: 10px;
	  outline: none;
	  padding-left: 10px;
	  margin : 15px auto;
	  padding : 15px;
	  font-family: 'MICEMyungjo';
	  
	}
	
	.qnaReplyContent_cnt{
		text-align : right;
		font-family: 'MICEMyungjo';
	}
	
	#qnaReplyAddBtn{
		text-align: right;
		background-color: #214DA6;
		border-color: #214DA6;
		color : #fff;
		border: 1px solid transparent;
		font-size : 18px;
		padding : 10px 18px;
		margin : 15px;
		font-family: 'MICEMyungjo';
	}
	
	#qnaReplyAddBtn:hover {
		cursor: pointer;
	}
	
	.reply_link {
		color : #214DA6;
	}
	
	.replyTable {
		width : 100%;
		padding : 10px;
		font-family: 'MICEMyungjo';
	}
	
	.memberName {
		width : 100px;
		height: 25px;
		text-align: center;
		border : 3px solid #aaa;
	  	border-radius: 10px;
	  	outline: none;
	  	margin : 30px 0;
	  	font-family: 'MICEMyungjo';
	}
	
	.qnaReplyContentAdd {
		width : 490px;
		height: 25px;
		border : 3px solid #aaa;
	  	border-radius: 10px;
	  	outline: none;
	  	font-family: 'MICEMyungjo';
	}
	
	.qnaReplyContentAdd_cnt {
		display: inline-block;
		font-family: 'MICEMyungjo';
	}
	
	.replyAdd2Btn {
		background-color: white;
		border : 3px solid #6666ff;
	  	border-radius: 10px;
	  	outline: none;
	  	padding-left: 10px;
	  	font-family: 'MICEMyungjo';
	}
	
	.replayDel2Btn {
		background-color: white;
		border : 3px solid #ff9966;
	  	border-radius: 10px;
	  	outline: none;
	  	margin : 10p 0x;
	  	font-family: 'MICEMyungjo';
	}
	.qnaReplyData{
		font-family: 'MICEMyungjo';
	}
	
	
	
}