@charset "UTF-8";

	.blind {
		display: none;
	}
	
	
	.toQnaList{
		display: inline-block;
		color : #212529;
		font-weight: 600;
		border: 2px solid #212529;
		padding : 10px 20px;
		margin : 10px 0px;
		background-color: transparent;
	}
	
	
	.qnaDetailOne{
		width : 850px;
		margin : 0 auto;
	
	}
	
	h1 {
		text-align : center;
	}
	.qnaDatailDate{ text-align: right;}
	.qnaDetailHit { text-align: right;}
	.qnaDeatilName{ font-size: 20px; text-align: right;}
	.qnaDetailTitle{
		font-size: 35px;
		font-weight: 700;
		text-align: center;
	}
	.qnaDetailContent{
		margin : 30px;
		margin-top :50px;
		text-align : center;
		
	}
	
	#qnaReplyContent{
	  width: 820px;
	  height: 80px;
	  font-size: 15px;
	  border : 3px solid #aaa;
	  border-radius: 10px;
	  outline: none;
	  padding-left: 10px;
	  margin : 15px auto;
	  padding : 15px;
	  
	}
	
	.qnaReplyContent_cnt{
		text-align : right;
	}
	
	#qnaReplyAddBtn{
		text-align: right;
		background-color: #24695c;
		border-color: #24695c;
		color : #fff;
		border: 1px solid transparent;
		font-size : 18px;
		padding : 10px 18px;
		margin : 15px;
	}
	
	#qnaReplyAddBtn:hover {
		cursor: pointer;
	}
	
	.reply_link {
		color : green;
	}
	
	.replyTable {
		width : 100%;
		border: 1px solid #aaa;
		padding : 10px;
	}
	
	.memberName {
		width : 120px;
		height: 25px;
		text-align: center;
		border : 3px solid #aaa;
	  	border-radius: 10px;
	  	outline: none;
	  	padding-left: 10px;
	  	margin : 30px 0;
	}
	
	.qnaReplyContentAdd {
		width : 460px;
		height: 25px;
		border : 3px solid #aaa;
	  	border-radius: 10px;
	  	outline: none;
	  	padding-left: 10px;
	}
	
	.qnaReplyContentAdd_cnt {
		display: inline-block;
	}
	
	.replyAdd2Btn {
		background-color: white;
		border : 3px solid #6666ff;
	  	border-radius: 10px;
	  	outline: none;
	  	padding-left: 10px;
	}
	
	.replayDel2Btn {
		background-color: white;
		border : 3px solid #ff9966;
	  	border-radius: 10px;
	  	outline: none;
	  	padding-left: 10px;
	  	margin : 10px;
	}
	
}