@charset "UTF-8";
	@font-face {
    font-family: 'MICEMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEMyungjo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
   }

	table {
    width: 1200px;
    margin : 0px auto 30px;
    line-height : 1.5;
    letter-spacing: 0.5px;
    border-collapse: collapse;
    border : none;
    color: #242934;
    font-family: 'MICEMyungjo';
  }
  th, td {
  	border : none;
    border-bottom: 1px solid rgb(233, 233, 233);
    padding: 12px;
    text-align : center;
    font-family: 'MICEMyungjo';
  }
  
   table tbody tr:hover {
    background-color: #c9dbff;
    cursor: pointer;
   }
  
  thead tr {
    font-weight: 900;
    font-family: 'MICEMyungjo';
    
  }
  
  .qnaNameA{
  	color : black;
  	font-family: 'MICEMyungjo';
  }
  
  h1 {
  	text-align : center;
  	font-family: 'MICEMyungjo';
  }
  
  .qnaAddA {
  		position: relative;
 	 color : black;
 	 margin : 400px;
 	 border: 2px solid #212529;
	 padding : 10px 20px;
	 bottom : 10px;
	 font-family: 'MICEMyungjo';
  }
  
  #qnaListDelBtn {
	 background-color: #214DA6;
		border-color: #214DA6;
		color : #fff;
		border: 1px solid transparent;
		font-size : 18px;
		padding : 0px 18px;
		font-family: 'MICEMyungjo';
  }
  #qnaListDelBtn:hover {
  	cursor: pointer;
  }
  
  .unlink, .link {
		display: inline-block;  /* 같은 줄에 둘 수 있고, width, height 등 크기 지정 속성을 지정할 수 있다. */
		padding: 10px;
		margin: 5px;
		border: 1px solid white;
		text-align: center;
		text-decoration: none;  /* 링크 밑줄 없애기 */
		color: gray;
		font-family: 'MICEMyungjo';
	}
	.link:hover {
		border: 1px solid orange;
		color: limegreen;
	}
	
	.paging{
		text-align: center;
		font-family: 'MICEMyungjo';
	}
	
	
	
}