@charset "UTF-8";

	@font-face {
    font-family: 'MICEMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEMyungjo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
   }



	.qnaUpdateOne {
		width : 700px;
		margin : 0 auto;
	}
	
	h1 {
		text-align: center;
		font-family: 'MICEMyungjo';
	}
	
	.toQnaList{
		display: inline-block;
		color : #212529;
		font-weight: 600;
		border: 2px solid #212529;
		padding : 10px 20px;
		margin : 30px 0px;
		background-color: transparent;
		font-family: 'MICEMyungjo';
	}
	
	.toQnaList:horver{
		
		cursor: pointer;
		
	}

	#qnaTitleM {
		border : 1px solid #aaa;
		border-radius: 10px;
		cursor: text;
		width : 640px;
		height: 40px;
		margin-top : 10px;
		margin-bottom : 30px;
		font-size : 20px;
		padding : 5px 30px;
		font-family: 'MICEMyungjo';
	}
	
	#qnaContentM {
		border : 1px solid #aaa;
		border-radius: 10px;
		cursor: text;
		width : 640px;
		height: 310px;
		margin-top : 10px;
		margin-bottom : 10px;
		font-size : 20px;
		padding : 30px;
		font-family: 'MICEMyungjo';
	}
	
	#qnaContentM_cnt {
		text-align: right;
		font-family: 'MICEMyungjo';
	}
	
	#qnaUpdateBtn {
  		left: 580px;
  		position: relative;
		text-align: right;
		background-color: #24695c;
		border-color: #24695c;
		color : #fff;
		border: 1px solid transparent;
		font-size : 18px;
		padding : 10px 18px;
		margin : 15px;
		font-family: 'MICEMyungjo';
	}
	
	#qnaUpdateBtn:hover {
    	cursor: pointer;
    }
	
}