@charset "UTF-8";

	@font-face {
    font-family: 'MICEMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEMyungjo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
   }
   
   .header{
		padding: 14px;
		display: inline-block;
		font-size: 25px;
		font-family: 'MICEMyungjo';
		color: white;
	}
   
   
	#reviewChange fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    border: 0; /* 필드셋 테두리 제거 */
	}
	#reviewChange input[type=radio]{
	    display: none; /* 라디오박스 감춤 */
	}
	#reviewChange label{
    font-size: 3em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
	}
	#reviewChange input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99); /* 마우스 클릭 체크 */
}
	#reviewChange fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
    border: 0; /* 필드셋 테두리 제거 */
}

	.reviewChangeOne {
		width : 850px;
		margin : 0 auto;
		text-align : center;
		font-family: 'MICEMyungjo';
	}
	
	.reChangetitle{
		text-align : center;
		font-family: 'MICEMyungjo';
	}
	
	#reviewTitle{
	width: 500px;
	  height: 45px;
	  font-size: 15px;
	  border: 0;
	  border-radius: 10px;
	  outline: none;
	  padding-left: 10px;
	  background-color: #e4e7f2;
	  margin : 15px 0;
	  font-family: 'MICEMyungjo';
	}
	
	#review_textarea{
	  width: 500px;
	  height: 300px;
	  font-size: 15px;
	  border: 0;
	  border-radius: 10px;
	  outline: none;
	  padding-left: 10px;
	  background-color: #e4e7f2;
	  margin : 15px 0;
	  padding : 10px;
	  font-family: 'MICEMyungjo';
	
	}

	#roomName, #rtType, #memberName{
		border : none;
		font-size : 18px;
		font-family: 'MICEMyungjo';
	}

	.memberName {
		position: relative;
		text-align: left;
		left : 170px;
		margin-bottom :20px;
		font-family: 'MICEMyungjo';
	}
	
	#roomName, #rtType {
		width : 80px;
		position: relative;
		right : 170px;
		font-family: 'MICEMyungjo';

	}
	
	#reviewModifiyBtn{
		background-color: #214DA6;
		border-color: #214DA6;
		color : #fff;
		border: 1px solid transparent;
		font-size : 18px;
		padding : 10px 18px;
		margin : 15px;
		font-family: 'MICEMyungjo';
	
	}
	
	#reviewList{
		background-color: #121319;
		border-color: #121319;
		color : #fff;
		border: 1px solid transparent;
		font-size : 18px;
		padding : 10px 18px;
		margin : 15px;
		font-family: 'MICEMyungjo';
	}
	
	.starBtn {
		position: relative;
		right: 70px;
	}
	
	#review_textarea_cnt {
		position: relative;
		left: 210px;
	}
	
	.deleteReImage{
		color : #121319;
	}