@charset "UTF-8";

	.reviewbox {
		background-color : #fff;
		width: 850px;
		
	}
	#addRe{
		text-decoration: none;
		color: black;
	}
	.adminReply{
		width : 850px;
		height : 200px;
		background-color : #e1dcd9;
		margin-top : 10px;
		text-align : center;
	}
	
	h1 {
		
	}
	#ReviewListONE{
		width: 850px;
		margin : 0 auto;
		

	}
	#staro{
		color : #ffd954;
	}