@charset "UTF-8";



	.rivewListTitle{
		text-align: center;
		margin-top : 30px;
	}
	
	.reviewListView{
		width: 750px;
		margin : auto;
		padding : 30px;
	}
	
	#ReviewListONE{
		margin-bottom : 30px;
		padding-bottom: 30px;
		border-bottom :  1px solid gainsboro;
	
	}
	
	.adminReply {
		
	    background-color : #e1dcd9;
	    margin-top : 10px;
	    margin-left : 50px;
	    margin-right: 30px;
	    text-align : center;
	    border-radius: 10px;
	    padding : 30px 20px;
	
	}
	
	.usericon {
		color : #e1dcd9;
	}
	
	.reviewTitleName{
	  font-size: 30px;
	
	}
	
	.ReviewNomal {
		margin-left : 50px;
	
	}
	
	#staro{
		color : #ffd954;
		font-size : 20px;
	}
	
	.adminicon{
		text-align : right;
		
	}
	
	
	
	/*
	#addRe{
		text-decoration: none;
		color: black;
	}
	.adminReply{
		width : 850px;
		height : 200px;
		background-color : #e1dcd9;
		margin-top : 10px;
		text-align : center;
	}
	
	.ab {
	 text-align : center;
	}
	
	
	.reviewListView{
		width: 1200px;
		margin : 0 auto;
		

	}
	*/