@charset "UTF-8";

	#reviewAdd fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    border: 0; /* 필드셋 테두리 제거 */
	}
	#reviewAdd input[type=radio]{
	    display: none; /* 라디오박스 감춤 */
	}
	#reviewAdd label{
    font-size: 3em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
	}
	#reviewAdd input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99); /* 마우스 클릭 체크 */
}
	#reviewAdd fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
    border: 0; /* 필드셋 테두리 제거 */
}
	#reviewTitle {
	  width: 500px;
	  height: 45px;
	  font-size: 15px;
	  border: 0;
	  border-radius: 10px;
	  outline: none;
	  padding-left: 10px;
	  background-color: rgb(233, 233, 233);
	  margin : 15px 0;
	}

	#review_textarea{
	  width: 500px;
	  height: 300px;
	  font-size: 15px;
	  border: 0;
	  border-radius: 10px;
	  outline: none;
	  padding-left: 10px;
	  background-color: rgb(233, 233, 233);
	  margin : 15px 0;
	  padding : 10px;
	}
	
	.reviewAddWriter{
		display:flex;
		justify-content:center;
	}
	.reAddtitle{
		text-align : center;
	}
	
	#memberId, #roomName, #rtType ,#memberName{
		border : none;
		margin-bottom : 10px;
	}
	
	#roomName, #rtType {
		width : 80px;
		
	}
	
	#review_textarea_cnt{
		display:flex;
		justify-content:right;
	}
	

	#addBtn{
		background-color: #24695c;
		border-color: #24695c;
		color : #fff;
		border: 1px solid transparent;
		font-size : 18px;
		padding : 10px 18px;
		margin : 15px;
	}
	
	
	
}